h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.navbar {
    background-color: #40514e;
}

h3 {
    color: #11999e;
}

#searchbtn {
    height: calc(1.5em + .75rem + 2px);
    background-color: #11999e;
    border: none;
    border-radius: 0.25rem;
}
